*{
    box-sizing: border-box;
}

body{
    background: #181818;
    color: white;
    font-family: 'Quicksand', sans-serif;
    padding: 0 1.5em;
}
.contenido{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}
.logo{
    text-align: center;
    font-size: 3em;
}
.logo span {
    color: rgb(102, 5, 5);
}
.contenedorPrincipal{
    box-shadow: 0 0 20px 0 rgba(225, 225, 225, 1.3);
}

.contenedorPrincipal > *{
    padding: 1em;
}
.formularioContacto{
    background-color: rgb(32, 32, 32);
    
}
.formularioInformacion{
    background-color: #000;
}

.formularioContacto form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.formularioContacto form p{
    margin: 0;
    padding: 1em;
}
.block{
    grid-column: 1/3;
}

.formularioContacto button,
.formularioContacto textarea,
.formularioContacto input{
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    border-bottom: 1px solid rgb(156, 12, 12);
    color: #fff;
}

.formularioContacto form button{
    background: red;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}
.formularioContacto button:hover,
.formularioContacto button:focus{
    background: #9b5f5f;
    color: #000;
    transition: background-color 1s ease-out;
    outline: 0;
}
.formularioInformacion h4,
.formularioInformacion ul,
.formularioInformacion p{
    text-align: none;
    margin: 0;
}
.formularioInformacion ul{
    list-style: none;
    padding: 0;
}
.formularioInformacion ul li{
    padding: .3em;
}

/* LARGE SCREEN */
@media (min-width: 700px){
    body{
        padding: 0 4rem;
}
.contenedorPrincipal{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.contenedorPrincipal > * {
    padding: 2em;
}

.formularioContacto h4 ul p{
    padding: 1em;
    text-align: left;
}